/* Main */
body {
    margin: 0;
    font-family: 'Lora', serif;
}

a {
    color: #A30013
}

p {
    line-height: 2;
}

hr {
    border-top: 10px;
    border-style: solid;
    border-color: #BFBA13;
    margin: 0;
    opacity: 69%;
}

em {
    color: #A30013;
    font-weight: 600;
    font-size: 1.1rem;
}

.writingFrame {
    text-align: center;
    width: 69%;
    height: 1150px;
    padding-bottom: 50px;
}

.portfolioFrame {
    text-align: center;
    width: 69%;
    height: 800px;
}

@media (max-width: 1055px) {

    .writingFrame {
        width: 80%;
        height: 700px;
        zoom: 50%;
    }

    .portfolioFrame {
        width: 75%;
        height: 400px
    }
}

.card {
    margin-top: 50px;
}



/* Navbar */
.navbar {
    padding: .5rem 0 .5rem;
    font-family: 'Lora', serif;
}

.navbar-nav {
    text-align: center;
}

.navbar-brand {
    font-family: 'Lora', serif;
}

.nav-item {
    padding: 0 18px;
    font-weight: 600;
    color: #A30013;
}

.nav-link {
    color: #A30013;
    font-weight: 600;
}



/* Sections */
.myTitle {
    text-align: center;
    color: #FCF738;
    background-color: #0090DB;
    padding-bottom: 50px;
}

#education {
    padding: 50px;
    text-align: center;
    background-color: #0090DB;
}

#skills {
    padding: 50px;
    text-align: center;
    background-color: #38708F;
}

#newStuff {
    text-align: center;
    background-color: #0090DB;
    padding: 50px 50px;
}

#workHistory {
    text-align: center;
    padding: 50px 50px;
    background-color: #38708F;
}

#resume {
    text-align: center;
    background-color: #0090DB;
}

#cta {
    text-align: center;
    background-color: #38708F;
    padding: 50px 0 50px 0;
    color: #FCF738;
}

#musicSlide {
    text-align: center;
    background-color: #38708F;
    padding: 50px 50px;
}

#artSlide {
    text-align: center;
    background-color: #BFBA13;
    padding: 50px 50px;
}

#codeSlide {
    text-align: center;
    background-color: #A30013;
    padding: 50px 50px;
}

#writingSlide {
    text-align: center;
    background-color: #0090DB;
}

#footer {
    text-align: center;
    padding: 10px;
}

#completeWorkHistory {
    padding: 0 50px;
    background-color: #38708F;
}

.workRow {
    padding-bottom: 250px;
}



/* Images */
.topCloud {
    position: relative;
    right: 33%;
    padding-bottom: 100px;
}

.botCloud {
    position: relative;
    left: 33%;
}



/* Titles */
.bigHead {
    font-size: 4.6875rem;
    font-weight: 700;
    font-style: italic;
    margin: 100px auto 0 auto;
    color: #A30013;
}

.programmer {
    font-size: 2rem;
    font-weight: 600;

}

.portfolioName {
    color: #A30013;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Lora', serif;
}

.edTitle {
    font-size: 2.5rem;
    padding-bottom: 50px;
    color: #A30013;
    font-weight: 600;
}

.skillsTitle {
    font-size: 2.5rem;
    padding-bottom: 50px;
    color: #A30013;
    font-weight: 600;
}

.featureWork {
    font-size: 2.5rem;
    padding-bottom: 50px;
    color: #A30013;
    font-weight: 600;
}

.resumeTitle {
    font-size: 2.5rem;
    padding: 50px;
    color: #A30013;
    font-weight: 600;
}

.featureText {
    color: #FCF738;
}

.fullPortfolio {
    font-size: 7.6875rem;
    background-color: #A30013;
    padding-bottom: 25px;
    margin: 0;
    color: #FCF738;
    text-align: center;
}

.fullWorkHistory {
    font-size: 7.6875rem;
    background-color: #38708F;
    padding-bottom: 25px;
    margin: 0;
    color: #FCF738;
    text-align: center;
}

.workHeading {
    font-size: 2.5rem;
    color: #A30013;
    font-weight: 600;
}

.portfolioTitle {
    color: #FCF738;
    font-size: 2.75rem;
    font-weight: 600;
    padding-bottom: 25px;
}

.artTitle {
    color: #A30013;
}

.writingTitle {
    padding-top: 70px;
}



/* Slides */
.characterRow {
    padding: 0 250px;
}

.newText {
    color: #FCF738;
    font-weight: 400;
    font-size: 1.75rem;
    padding-bottom: 50px;
}

.newArt {
    color: #A30013;
    font-weight: 400;
    font-size: 1.75rem;
    padding-bottom: 50px;
}


/* Special Words */
.disclaimer {
    font-size: .66rem;
}

.workHead {
    font-size: 1.5rem;
}

.descriptionText {
    color: #BFBA13;
}

.subText {
    padding: 25px 0;
    color: #BFBA13;
    font-weight: 400;
    font-size: 1.1rem;
}

.fa-solid {
    padding: 0 10px;
}

.writingText {
    padding-top: 50px;
}