body {
    margin: 0;
}

h1 {
    font-size: 4.6875rem;
    margin: 100px auto 0 auto;
    color: #BF1363;
}

p {
    line-height: 2;
}

.topDiv {
    color: #DEEEEA;
    text-align: center;
    position: relative;
    height: 300px;
}

.topCloud {
    position: absolute;
    left: 33%;
}

.bottomCloud {
    position: absolute;
    right: 20%;
}

.background {
    width: 100%;
    height: 700px;
}

.centered {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}

.programmer {
    font-size: 2rem;
}